# Ignore WRDS data files
data/*.csv
!data/sp500_ticker_start_end.csv

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environments
.venv/
venv/

# Ignore environment variables / secrets
.env
